/* 
*	basiert auf:	
*	CSSG Collections: Forms
*	designed and coded by Alen Grakalic (http://cssglobe.com)
*	brought to you by Templatica (http://templatica.com)
*
* 	angepasst für das Akk-Tool von hilope aka Sven Schomacker
*/

body{ 
	background: transparent url(./images/backlogo.png) no-repeat top right;
	font:13px Trebuchet MS, Arial, Helvetica, Sans-Serif;
	color:#333;
	line-height:160%;
	margin:0;
	padding:0;
	text-align:center;
	}

h1{
	font-size:200%;
	font-weight:normal;
	}		
h2, h3, h4, h5, h6{
	font-weight:normal;
	margin:1em 0;
	}	
h2{            
	font-size:160%;
	}	
h3{          
	font-size:140%;
	}
h4{          
	font-size:120%;
	}				

a{
	text-decoration:none;
	color:#ff7f00;
	}
a:hover{
	color:#999;
	}			
table, input, textarea, select, li{
	font:100% Trebuchet MS, Arial, Helvetica, Sans-Serif;
	line-height:160%;
	color:#333;
	}				
p, blockquote, ul, ol {
	margin:1em 0;
	}
blockquote{
	}
img{
	border:none;
	}			
hr{
	display:none;
	}	
table{
	margin:1em 0;
	width:100%;
	border-collapse:collapse;
	border: 1px solid #f5f5f5;
	}
thead td, td.thead {
	background-color: #f5f5f5;
	color: #ff7f00;  
	font-weight: bold;
}
th, td{	
	padding:2px;
	}	
th{	
	text-align:left;
	}
table.akktable {
	
}
tr.akkrow {
	height: 20px;
	border: 1px solid #f5f5f5;
}
tr.akkrow:hover {
	border: 2px solid #888;
}
td.akkcell {
	height: 25px;
	padding: 1px;
}
li {
	display:list-item;
	}	
	
#container {	
	margin:5px auto;
	background: transparent;
	width:93%;
	padding:20px 40px;
	text-align:left;
	min-height: 400px;
}		


#form1{
	margin:1em 0;
	padding-top:10px;
}
form {
	margin: 2px;
}
form fieldset{
	margin:0;
	padding:0;
	border:0;	
	float:left;
	display:inline;
	width:260px;
	margin-left:25px;
}		
form legend{display:none;}	
form p{margin:.5em 0;}	
form label{display:inline; width:100px;}	
form input {		
	width:252px;
	border:1px solid #ddd;
	background:#fff url(./images/form_input.gif) repeat-x;
	padding:2px;
}
form textarea{		
	width:252px;
	border:1px solid #ddd;
	background:#fff url(./images/form_input.gif) repeat-x;
	padding:3px;
	height:125px;
	overflow:auto;
}					
form p.submit{
	clear:both;
	padding:0 25px 20px 25px;
	margin:0;
	text-align:right;
}	
form button{
	width:150px;
	height:auto;
	line-height:auto;		
	border:none;
	color:#fff;
	background-color:#f5f5f5;
	cursor:pointer;
	text-align:center;
}
table.akktable input, table.akktable button {		
	width:50px;
	background:#fff url(./images/form_input.gif) repeat-x;
	border: 1px solid #888;
	color:#888;
	cursor:pointer;
	text-align:center;
	padding: 2px !important;
	margin: 0 !important;
}
table.akktable input.paycomment {		
	width:150px;
	background:#fff url(./images/form_input.gif) repeat-x;
	border: 1px solid #888;
	color:#888;
	cursor:pointer;
	text-align:left;
}


.label {
	font-weight: bold;
}
ul#menu {
}
ul#menu li {
	display: block;
	list-style-type: none;
	margin: 5px 0;
	border-bottom:1px solid #ddd;
}
#headerline {
	border-bottom: 1px solid #d5d5d5;
	width: 90%;
}
#headerline ul {
	display: inline;
	list-style-type: none;
}
#headerline ul li {
	display: inline;
	font-weight: bold;
	margin-right: 140px;
}

